<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 2</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{'Nilai A :' + a}}</h1>
        <h1>{{'Rata rata : ' + avg}}</h1>
        
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        //4 kali input nilai a
        var vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                avg: 0,
                count: 0
            },
            methods: {
                openForm: function() {
                    while (this.a < 10) {
                        this.a += parseInt(prompt("Masukan nilai a"));
                        this.count++;
                    }
                    this.avg = this.a / this.count;
                    
                } 
            }
        })
    </script>

</body>
</html>