<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>7-2</title>
</head>
<body>
    <div id="app">
        
        <form @submit.prevent="submitForm">
            <ul>
                <li v-for="error in errors">{{error}}</li>
            </ul>
            <label for="name">Name</label>
            <br>
            <input type="text" name="member" :disabled="buttonMode === 'upload'" v-model="name" id="name">
            <br>
            <label for="address">Alamat</label>
            <br>
            <input type="text" name="member" :disabled="buttonMode === 'upload'" v-model="address" id="address">
            <br>
            <label for="no_telp">No Telp</label>
            <br>
            <input type="text" name="member" :disabled="buttonMode === 'upload'" v-model="no_telp" id="no_telp">
            <br>
            <div v-if="buttonMode === 'submit'">
                <button type="submit">SUBMIT</button>
            </div>
            
            <div v-else-if="buttonMode === 'update'">
                <button type="button" @click='launchUpdate()'>
                    UPDATE
                </button>
                <button @click="cancelUpdate()" type="button">
                    CANCEL
                </button>
            </div>
            <div v-else-if="buttonMode === 'upload'">
                <input type="file" name="" id="file" ref="photo">
                <input type="button" @click="submitPic()" value="Upload">
                <input @click="emptyForm()" type="button" value="Cancel">
            </div>

            
        </form>
        <table>
            <thead>
                <tr>
                    <th>Profile Pic</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>No Telp</th>
                    <th>Created At</th>
                    <th>buttons</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="member in members">
                    <td><img :src="member.photo_profile ? domain + member.photo_profile : defaultPic" alt=""></td>
                    <td>{{member.name}}</td>
                    <td>{{member.address}}</td>
                    <td>{{member.no_hp}}</td>
                    <td>{{member.created_at}}</td>
                    <td><button v-on:click="removeMember(member.id)">Hapus</button>
                        <button @click="editMember(member)">Edit</button>
                        <button @click="uploadPic(member)">Upload Photo</button></td>
                </tr>
            </tbody>
        </table>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        //1 get all members
        var app = new Vue({
            el: "#app",
            data: {
                name: '',
                address: '',
                no_telp: '',
                domain: 'http://demo-api-vue.sanbercloud.com',
                idMember: null,
                errors: [],
                members: [],
                defaultPic: "https://dummyimage.com/100x100/a39ba3/fff",
                buttonMode: 'submit'
            },
            methods: {
                removeMember(id) {
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {_method : "DELETE"}
                    }
                    
                    axios(config)
                        .then(response => {
                            // handle success
                            alert(response.data.message);
                            this.emptyForm();
                            
                            this.getMembers();
                            
                            
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                },
                validationForm: function(){
                    this.errors = [];
                    if (this.name.length === 0) {
                        this.errors.push('Nama tidak boleh kosong');
                    }
                    else if (this.name.length < 4) {
                        this.errors.push('Namu minimal 4 karakter');
                    }
                    
                    if (this.errors.length === 0) {
                        console.log('masuk');
                        
                    }
                },
                emptyForm(){
                    this.name = '';
                    this.address = '';
                    this.no_telp = '';
                    this.idMember = null;
                    this.buttonMode = 'submit';
                },
                submitForm: function(){
                    let formData = new FormData();
                    formData.append('name', this.name);
                    formData.append('address', this.address);
                    formData.append('no_hp', this.no_telp);
                    this.validationForm();
                    console.log(this.errors)
                    if(this.errors.length !== 0) {
                        return
                    }

                    const config = {
                        method: "post",
                        url: "http://demo-api-vue.sanbercloud.com/api/member",
                        data: formData
                    }

                    axios(config)
                        .then(response => {
                            // handle success
                            this.emptyForm();
                            console.log(response);
                            this.getMembers();
                            
                            
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                    
                },
                getMembers: function(){
                    const config = {
                        method: "get",
                        url: "http://demo-api-vue.sanbercloud.com/api/member"
                    }

                    axios(config)
                        .then(response => {
                            // handle success
                            console.log(response);
                            this.members = [...response.data.members];
                            
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                },
                editMember: function(member){
                    console.log(member);
                    this.name = member.name;
                    this.address = member.address;
                    this.no_telp = member.no_hp;
                    this.buttonMode = 'update';
                    this.idMember = member.id;
                },
                cancelUpdate: function(){
                    this.emptyForm();
                    this.idMember = null;
                    this.buttonMode = 'submit';
                },
                launchUpdate: function(){
                    let formData = new FormData();
                    formData.append('name', this.name);
                    formData.append('address', this.address);
                    formData.append('no_hp', this.no_telp);
                    
                    this.validationForm();
                    console.log(this.errors)
                    if(this.errors.length !== 0) {
                        return
                    }

                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${this.idMember}`,
                        params: {_method: 'PUT'},
                        data: formData
                    }

                    axios(config)
                        .then(response => {
                            // handle success
                            this.emptyForm();
                            console.log(response.data.message);
                            this.idMember = null;
                            this.getMembers();
                            
                            
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })
                },
                uploadPic(member) {
                    this.name = member.name;
                    this.address = member.address;
                    this.no_telp = member.no_hp;
                    this.buttonMode = 'upload';
                    this.idMember = member.id;
                },   
                submitPic() {
                    let file = this.$refs.photo.files[0];
                    let formData = new FormData();

                    formData.append('photo_profile', file);

                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${this.idMember}/upload-photo-profile`,
                        data: formData
                    }

                    axios(config)
                        .then(response => {
                            // handle success
                            this.emptyForm();
                            console.log(response.data.message);
                            this.getMembers();
                            
                            
                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        })

                }
                
            },
            
            created(){
                this.getMembers();
            }
        })
    </script>
</body>
</html>