<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filterrr</title>
</head>
<body>
    <div id="ui">
        <input type="text" name="" id="" placeholder="ketikkan kata kunci" v-model="inputString">
        <ul>
            <li v-for="book in filteredBook">{{book}}</li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var ui = new Vue({
            el: "#ui",
            data: {
                inputString: '',
                books: [
                    'Kalkulus Dasar',
                    'Fisika Dasar',
                    'Aljabar Linier Elementer',
                    'Aljabar Abstrak',
                    'Algoritma Pemrograman'
                ]
            },
            computed: {
                filteredBook: {
                    get() {
                        //will return the array full of filtered items
                        //return all if empty
                        if (!this.inputString) {
                            return this.books;
                        }
                        let keyword = this.inputString.toLowerCase();
        
                        return this.books.filter(booktitle => {
                            let lowercaseTitle = booktitle.toLowerCase();
                            return lowercaseTitle.includes(keyword);
                        })
                    }
                }
            }
            
        })
        
    </script>
</body>
</html>