<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.6.2"></script>
    <script>
        Vue.use(Vuex);
        const store = new Vuex.Store({
            state: {
                count: 0
            },
            mutations: {
                increment (state, payload) {
                state.count += payload;
                }
            }
        })
        new Vue({ 
            el: '#app',
            store: store, 
            // state 
            data: { counter: 0 },
            computed: {
                count(){
                    return this.$store.state.count;
                }
            },
            // view 
            template: ` 
                <div> 
                {{ count }} 
                <button @click="increment()"> + </button> 
                </div> 
            `, 
            // actions 
            methods: { increment () { store.commit('increment', 5) } } 
        })
    </script>
</body>
</html>