<template>
  <!-- App.vue -->

<v-app>
  <v-navigation-drawer app v-model="drawe">
    <v-list>
      <v-list-item v-if="!guest">
        <v-list-item-avatar>
          <v-img src="https://cdn-2.tstatic.net/tribunnews/foto/bank/images/presiden-rusia-vladimir-putin-a-21-februari-2022.jpg"></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title>
            Vladimir Puchin
          </v-list-item-title>
          <v-list-item-subtitle>
            President of Russia
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <div class="pa-2" v-if="guest">
        <v-btn block class="mb-1 indigo-darken-3">
          Login
        </v-btn>
      </div>
      <v-list-item v-for="(item, index) in menus" :key="index" :to="item.route">
        <v-list-item-title>
          {{item.title}}
        </v-list-item-title>
      </v-list-item>
     
    </v-list>
     <template v-slot:append v-if="!guest">
        <div class="pa-2">
          <v-btn block color="red" dark>
            Logout
          </v-btn>
        </div>
      </template>
  </v-navigation-drawer>

  <v-app-bar app color="light-green" dark>
    <v-app-bar-nav-icon @click.stop="drawe = !drawe"> <!-- .stop is stopping bubbling-->

    </v-app-bar-nav-icon>
    <v-app-bar-title>ZAKY ABDUR</v-app-bar-title>
    <v-spacer></v-spacer>
  </v-app-bar>

  <!-- Sizes your content based upon application components -->
  <v-main>

    <!-- Provides the application the proper gutter -->
    <v-container fluid>
      <v-slide-y-transition>
        <router-view></router-view>
      </v-slide-y-transition>
      <!-- If using vue-router -->
      
    </v-container>
  </v-main>

  <v-footer app>
    <div class="text-center">
      Copyright @zaky_abdur 2022
    </div>
    
  </v-footer>
</v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    drawe: false,
    menus: [
      {title: "Home", icon: "mdi.home", route: "/"},
      {title: "Blogs", icon: "mdi.note", route: "/blogs"}
    ],
    guest: false
  }),
};
</script>
