<template>
    <div>
        <v-card v-if="blog.id">
            <v-img :src="apiDomain + blog.photo" class="white--text" height="200px">
                <v-card-title class="fill-height align-end" v-text="blog.title">

                </v-card-title>
            </v-img>
            <v-card-text>
                <v-simple-table dense>
                    <tbody>
                        <tr>
                            <td>Judul</td>
                            <td class="blue--text">{{ blog.title }}</td>
                        </tr>
                        <tr>
                            <td>Deskripsi</td>
                            <td class="blue--text">{{ blog.description }}</td>
                        </tr>
                    </tbody>
                </v-simple-table>
            </v-card-text>
        </v-card>
    </div>
</template>



<script>
export default {
    name: 'BlogView',
    data: () => {
      return {
        apiDomain: "http://demo-api-vue.sanbercloud.com",
        blog: {}
      }
    },
    methods: {
        go() {
            let id =  this.$route.params.id;
            const config = {
                method: "get",
                url: this.apiDomain + "/api/v2/blog/" + id
            };

            this.axios(config)
                .then(response => {
                    let { blog } = response.data; //make a blogs var that contain props from
                    //the response
                    this.blog = blog;
                    console.log(response)

                })
                .catch(err => console.log(err));

        }
    },
    created(){
      this.go();
   
  },
}
</script>