<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <div class="text-right">
      <v-btn class="blue--text" text to="/blogs">
        All Blogs <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </div>
    <v-layout wrap>
      <blog-item-component
        v-for="blog in blogs" :key="'blog ' + blog.id" :blog="blog"
      ></blog-item-component>
    </v-layout>
  </v-container>
  
  
</template>

<script>
import BlogItemComponent from '../components/BlogItemComponent.vue';
  

  export default {
    name: 'HomeView',
    data: () => {
      return {
        apiDomain: "http://demo-api-vue.sanbercloud.com",
        blogs: []
      }
    },
    components: {
      'blog-item-component' : BlogItemComponent
    },
    created(){
      console.log(this.$store.state.count)
      const config = {
        url: `${this.apiDomain}/api/v2/blog/random/4`,
        method: 'GET'
      }
      this.axios(config)
        .then(response => {
          console.log(response.data);
          this.blogs = response.data.blogs;
        })
        .catch(err => console.log(err));
    }
   
  }
</script>
