<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <input type="text" v-model:value="string" name="" id="input">
    <button onclick="objects.addName(input.string)">add</button>
    <div id="objects">
        <ul>
            <personnel
                v-for="(user, index) in users"
                v-bind:person="user"
                v-bind:idx="index"
            ></personnel>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        Vue.component('personnel', {
            props: ['person', 'idx'], //an attribute for the component so i can set the value
            template: '<li>{{person.name}} <button id="idx" onclick="">edit</button> <button id="idx" onclick="">delete</button></li>'
        })
        var input = new Vue({
            el: '#input',
            data: {
                string: ''

            },
           
        })
        var objects = new Vue({
            el: '#objects',
            data: {
                users: [
                    {
                        'name' : 'muhammad iqbal mubarok'
                    },
                    {
                        'name' : 'Ruby Purwanti'
                    },
                    {
                        'name' : 'Faqih Muhammad'
                    }
                ],
                
            },
            methods: {
                addName: function(userName) {
                    console.log(userName);
                    let userObject = {'name': userName};
                    this.users.push(userObject);
                    
                }
            }
        })
    </script>
</body>
</html>